[submodule "submodules/xcad2k/docs"]
	path = submodules/xcad2k/docs
	url = git@github.com:xcad2k/cheat-sheets.git
[submodule "submodules/ruanyf/docs"]
	path = submodules/ruanyf/docs
	url = https://technoluc@github.com/ruanyf/simple-bash-scripts
[submodule "submodules/massgravel/docs"]
	path = submodules/massgravel/docs
	url = git@github.com:massgravel/Microsoft-Activation-Scripts.git
[submodule "submodules/onceupon/docs"]
	path = submodules/onceupon/docs
	url = git@github.com:onceupon/Bash-Oneliner.git
